In [1]:
import pandas as pd

# Data Source
# https://datos.gob.ar/dataset/energia-produccion-petroleo-gas-por-pozo-capitulo-iv

# List of CSV files to read
csv_files = [
    'produccin-de-pozos-de-gas-y-petrleo-2017.csv',
    'produccin-de-pozos-de-gas-y-petrleo-2018.csv',
    'produccin-de-pozos-de-gas-y-petrleo-2019.csv',
    'produccin-de-pozos-de-gas-y-petrleo-2020.csv',
    'produccin-de-pozos-de-gas-y-petrleo-2021.csv',
    'produccin-de-pozos-de-gas-y-petrleo-2022.csv',
    'produccin-de-pozos-de-gas-y-petrleo-2023.csv'
]

# Create an empty list to store DataFrames
dfs = []

# Loop through each CSV file and read into a DataFrame
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dfs.append(df)

# Concatenate the DataFrames vertically (along rows)
concatenated_df = pd.concat(dfs, ignore_index=True)

# # Save the concatenated DataFrame to a new CSV file
# concatenated_df.to_csv('C:/Users/Morris/Documents/produccin-de-pozos-de-gas-y-petrleo-2017-2023.csv', index=False)

C:\Users\MorrisA8\AppData\Local\Temp\ipykernel_28660\2635729029.py:19: DtypeWarning: Columns (0,16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
C:\Users\MorrisA8\AppData\Local\Temp\ipykernel_28660\2635729029.py:19: DtypeWarning: Columns (16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
C:\Users\MorrisA8\AppData\Local\Temp\ipykernel_28660\2635729029.py:19: DtypeWarning: Columns (16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
C:\Users\MorrisA8\AppData\Local\Temp\ipykernel_28660\2635729029.py:19: DtypeWarning: Columns (16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
C:\Users\MorrisA8\AppData\Local\Temp\ipykernel_28660\2635729029.py:19: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
C:\Users\MorrisA8\AppData\Local\Temp\ipykernel_28660\2635729029.py:19: DtypeWarning: Columns (16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
C:\Users\MorrisA8\AppData\Local\Temp\ipykernel_28660\2635729029.py:19: DtypeWarning: Columns (16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

In [2]:
# # # Read the concatenated CSV file
# df = pd.read_csv('C:/Users/Morris/Documents/produccin-de-pozos-de-gas-y-petrleo-2017-2023.csv')

df = concatenated_df

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6167723 entries, 0 to 6167722
Data columns (total 38 columns):
 #   Column                  Dtype
---  ------                  -----
 0   idempresa               object
 1   anio                    int64
 2   mes                     int64
 3   idpozo                  int64
 4   prod_pet                float64
 5   prod_gas                float64
 6   prod_agua               float64
 7   iny_agua                float64
 8   iny_gas                 float64
 9   iny_co2                 float64
 10  iny_otro                float64
 11  tef                     float64
 12  vida_util               float64
 13  tipoextraccion          object
 14  tipoestado              object
 15  tipopozo                object
 16  observaciones           object
 17  fechaingreso            object
 18  rectificado             object
 19  habilitado              object
 20  idusuario               int64
 21  empresa                 object
 22  sigla                   object
 23  formprod                object
 24  profundidad             float64
 25  formacion               object
 26  idareapermisoconcesion  object
 27  areapermisoconcesion    object
 28  idareayacimiento        object
 29  areayacimiento          object
 30  cuenca                  object
 31  provincia               object
 32  tipo_de_recurso         object
 33  proyecto                object
 34  clasificacion           object
 35  subclasificacion        object
 36  sub_tipo_recurso        object
 37  fecha_data              object
dtypes: float64(10), int64(4), object(24)
memory usage: 1.7+ GB
None

In [4]:
# List of columns to delete
columns_to_delete = ['idempresa', 'prod_agua', 'iny_agua', 'iny_gas', 'iny_co2', 'iny_otro', 'tef',
       'vida_util', 'observaciones', 'fechaingreso', 'rectificado', 'habilitado',
       'idusuario', 'sigla', 'formprod', 'formacion',
       'idareapermisoconcesion', 'areapermisoconcesion', 'idareayacimiento',
       'proyecto','sub_tipo_recurso']

# Delete the selected columns
df = df.drop(columns=columns_to_delete)

In [5]:
# Print the column names
print("Column Names:")
print(df.columns)

Column Names:
Index(['anio', 'mes', 'idpozo', 'prod_pet', 'prod_gas', 'tipoextraccion',
       'tipoestado', 'tipopozo', 'empresa', 'profundidad', 'areayacimiento',
       'cuenca', 'provincia', 'tipo_de_recurso', 'clasificacion',
       'subclasificacion', 'fecha_data'],
      dtype='object')

In [6]:
# #Categoricos
df.describe(include=object)

,tipoextraccion,tipoestado,tipopozo,empresa,areayacimiento,cuenca,provincia,tipo_de_recurso,clasificacion,subclasificacion,fecha_data
count,6167375,6167375,6167375,6167723,6167723,6167489,6167723,6167723,4775519,4775519,6167723
unique,11,16,10,87,1125,8,11,4,4,15,78
top,Sin Sistema de Extracción,Extracción Efectiva,Petrolífero,YPF S.A.,PUESTO HERNANDEZ,GOLFO SAN JORGE,Santa Cruz,CONVENCIONAL,EXPLOTACION,DESARROLLO,2022-12-31
freq,3128883,2150929,2976704,3000194,200304,3262561,1780717,5940967,4080080,3620053,81393

In [7]:
# #Numericos
df.describe()

,anio,mes,idpozo,prod_pet,prod_gas,profundidad
count,6.167723e+06,6.167723e+06,6.167723e+06,6.167723e+06,6.167723e+06,6.167723e+06
mean,2.019805e+03,6.276936e+00,9.882626e+04,3.222167e+01,4.921284e+01,1.605138e+03
std,1.885638e+00,3.443844e+00,4.164431e+04,1.745921e+02,8.165492e+02,1.674372e+03
min,2.017000e+03,1.000000e+00,2.120000e+02,-4.600000e-01,-1.226700e+01,0.000000e+00
25%,2.018000e+03,3.000000e+00,6.878400e+04,0.000000e+00,0.000000e+00,1.004000e+03
50%,2.020000e+03,6.000000e+00,1.078720e+05,0.000000e+00,0.000000e+00,1.546000e+03
75%,2.021000e+03,9.000000e+00,1.292250e+05,1.666000e+01,0.000000e+00,2.300000e+03
max,2.023000e+03,1.200000e+01,1.644440e+05,1.651330e+04,1.530792e+05,3.789390e+05

In [8]:
## Valores unicos
# print("Afiliado:",len(df['Afiliado'].value_counts()))

for column in df:
    print('Column Name : ', column)
    print('Column freq : ', len(df[column].value_counts()))
    print()

Column Name :  anio
Column freq :  7

Column Name :  mes
Column freq :  12

Column Name :  idpozo
Column freq :  82622

Column Name :  prod_pet
Column freq :  777464

Column Name :  prod_gas
Column freq :  669586

Column Name :  tipoextraccion
Column freq :  11

Column Name :  tipoestado
Column freq :  16

Column Name :  tipopozo
Column freq :  10

Column Name :  empresa
Column freq :  87

Column Name :  profundidad
Column freq :  6008

Column Name :  areayacimiento
Column freq :  1125

Column Name :  cuenca
Column freq :  8

Column Name :  provincia
Column freq :  11

Column Name :  tipo_de_recurso
Column freq :  4

Column Name :  clasificacion
Column freq :  4

Column Name :  subclasificacion
Column freq :  15

Column Name :  fecha_data
Column freq :  78

In [9]:
 #Frecuencias
for column in df:
  print('Column Name : ', column)
  print(pd.crosstab(df[column], "freq"))
  print()

Column Name :  anio
col_0    freq
anio
2017   919031
2018   932547
2019   944204
2020   953230
2021   961163
2022   971882
2023   485666

Column Name :  mes
col_0    freq
mes
1      549732
2      552416
3      553037
4      553482
5      553828
6      554417
7      473812
8      474417
9      475129
10     475312
11     475834
12     476307

Column Name :  idpozo
col_0   freq
idpozo
212       78
213       78
214       78
215       78
216       78
...      ...
164440     1
164441     1
164442     1
164443     1
164444     1

[82622 rows x 1 columns]

Column Name :  prod_pet
col_0          freq
prod_pet
-0.460            1
-0.040            1
-0.010            1
-0.001            2
 0.000      4238615
...             ...
 14085.591        1
 14176.400        1
 14430.080        1
 14441.710        1
 16513.300        1

[777464 rows x 1 columns]

Column Name :  prod_gas
col_0           freq
prod_gas
-12.267            1
-7.519             1
-0.680             1
-0.010             1
 0.000       4640737
...              ...
 143118.400        1
 143525.111        1
 145334.000        1
 148393.400        1
 153079.200        1

[669586 rows x 1 columns]

Column Name :  tipoextraccion
col_0                         freq
tipoextraccion
Bombeo Hidráulico             1738
Bombeo Mecánico            1643201
Cavidad Progresiva          364580
Electrosumergible           420162
Gas Lift                     34970
Jet Pump                      1389
Otros Tipos de Extracción    32306
Pistoneo (Swabbing)          76917
Plunger Lift                 68862
Sin Sistema de Extracción  3128883
Surgencia Natural           394367

Column Name :  tipoestado
col_0                                  freq
tipoestado
A Abandonar                          195218
Abandonado                          1340181
Abandono Temporario                  108604
En Espera de Reparación              135646
En Estudio                           527247
En Inyección Efectiva                511851
En Reparación                          3125
En Reserva de Gas                     38822
En Reserva para Recup. Sec./Asist.   561173
Extracción Efectiva                 2150929
Mantenimiento de Presión               3208
Otras Situación Activo                12673
Otras Situación Inactivo             137234
Parado Alta Relación Agua/Petróleo    79042
Parado Alta Relación Gas/Petróleo      8558
Parado Transitoriamente              353864

Column Name :  tipopozo
col_0                               freq
tipopozo
Acuífero                           25328
Bidireccional de almacenamiento       82
Extractor de almacenamiento            1
Gasífero                          447823
Inyección de Agua                 673930
Inyección de Gas                    1540
Monitoreo de almacenamiento           87
Otro tipo                        1999245
Petrolífero                      2976704
Sumidero                           42635

Column Name :  empresa
col_0                                                  freq
empresa
ALIANZA PETROLERA ARGENTINA S.A.                       2753
AMERICAS PETROGAS ARGENTINA S.A.                       1406
APCO OIL AND GAS INTERNATIONAL INC (SUCURSAL AR...      552
ARGENTA ENERGIA S.A.                                    512
CAPETROL ARGENTINA S.A.                                2860
...                                                     ...
WINTERSHALL DEA ARGENTINA S.A                           518
WINTERSHALL ENERGIA S.A.                                387
YPF S.A.                                            3000194
YSUR ENERGÍA ARGENTINA S.R.L.                         37189
YSUR PETROLERA ARGENTINA S.A.                          3002

[87 rows x 1 columns]

Column Name :  profundidad
col_0          freq
profundidad
0.000        786531
1.000           932
2.000           156
2.016            46
2.454            75
...             ...
15273.000        78
20680.000        78
24223.000        78
27064.000        78
378939.000       78

[6008 rows x 1 columns]

Column Name :  areayacimiento
col_0                              freq
areayacimiento
25 DE MAYO - MEDANITO SUDESTE LP  87026
25 DE MAYO - MEDANITO SUDESTE RN  47134
ABUTARDA                            156
AGUA BOTADA                        1041
AGUA DE AFUERA                      124
...                                 ...
ZORRO                             60550
ZURI                                468
Zampal Norte                         38
ÑACATIMBAY                            3
ÑIRIHUAU                            156

[1125 rows x 1 columns]

Column Name :  cuenca
col_0               freq
cuenca
AUSTRAL           228504
CAÑADON ASFALTO      103
CUYANA            283869
GOLFO SAN JORGE  3262561
NEUQUINA         2314272
NORESTE              715
NOROESTE           77309
ÑIRIHUAU             156

Column Name :  provincia
col_0                freq
provincia
Chubut            1609907
Estado Nacional      4925
Formosa              5005
Jujuy                3445
La Pampa           193533
Mendoza            656322
Neuquén           1317722
Rio Negro          430564
Salta               69574
Santa Cruz        1780717
Tierra del Fuego    96009

Column Name :  tipo_de_recurso
col_0               freq
tipo_de_recurso
CONVENCIONAL     5940967
NO CONVENCIONAL   200673
NO DISCRIMINADO      185
SIN RESERVORIO     25898

Column Name :  clasificacion
col_0              freq
clasificacion
ALMACENAMIENTO     2240
EXPLORACION      412143
EXPLOTACION     4080080
SERVICIO         281056

Column Name :  subclasificacion
col_0                     freq
subclasificacion
ALMACENAMIENTO DE GAS     2226
AVANZADA                474578
CONTROL                   3805
DESARROLLO             3620053
ESTUDIO                   8100
EXPLORACION             293836
EXPLORATORIO PROFUNDO    21808
EXPLORATORIO SOMERO       1134
EXTENSION                64616
INYECTOR DE AGUA        268050
INYECTOR DE GAS            702
INYECTOR DE VAPOR          546
INYECTOR TERCIARIA        9472
PRODUCTOR DE AGUA         3598
SUMIDERO                  2995

Column Name :  fecha_data
col_0        freq
fecha_data
2017-01-31  76114
2017-02-28  76192
2017-03-31  76298
2017-04-30  76370
2017-05-31  76429
...           ...
2023-02-28  80834
2023-03-31  80891
2023-04-30  80970
2023-05-31  81055
2023-06-30  81161

[78 rows x 1 columns]

In [10]:
#Null values
df.isnull().sum()

anio                      0
mes                       0
idpozo                    0
prod_pet                  0
prod_gas                  0
tipoextraccion          348
tipoestado              348
tipopozo                348
empresa                   0
profundidad               0
areayacimiento            0
cuenca                  234
provincia                 0
tipo_de_recurso           0
clasificacion       1392204
subclasificacion    1392204
fecha_data                0
dtype: int64

In [13]:
# Delete rows with prod_pet and prod_gas less than zero
df = df[(df['prod_pet'] >= 0) & (df['prod_gas'] >= 0)]

In [15]:
# Save the concatenated DataFrame to a new CSV file
df.to_csv('C:/Users/MorrisA8/Documents/produccin-de-pozos-de-gas-y-petrleo-2017-2023.csv', index=False)